# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\calvi\Desktop\GBC 20-21 (Year 2)\Winter Semester\COMP 2152\LabTests\Test2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
